<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Data Storage System</h1>

        <a href="/store">
            <button type="button">Store Data</button>
        </a>

        <a href="/view">
            <button type="button">View Data</button>
        </a>

    </div>

</body>

</html>